@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  min-height: 100vh;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}
.main {
  background-color: rgba(9, 173, 228, 0.247);
  background-image: url(./images/bg-hero-desktop.svg);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/*HEADER*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  align-items: center;
  background-color: transparent;
}
.logo {
  width: 250px;
  display: flex;
  justify-content: center;
}
.logo img {
  width: 200px;
}
.header-btn {
  width: 400px;
  display: flex;
  justify-content: center;
}
header button {
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  font-size: 15px;
  border: none;
  box-shadow: 5px 5px 10px rgba(116, 114, 114, 0.589);
  cursor: pointer;
}
header button:active {
  opacity: 0.7;
}
/*RESPONSIVENESSS*/
@media screen and (max-width: 700px) {
  .logo {
    width: 150px;
    display: flex;
    justify-content: center;
  }
  .main {
    height: 130vh;
  }
  .logo img {
    width: 90px;
  }
  header {
    height: 10%;
  }
  .header-btn {
    width: 150px;
    display: flex;
    justify-content: center;
  }
  header button {
    width: 100px;
    height: 30px;
    border-radius: 50px;
    font-size: 12px;
  }
}
/*HOME SECTION*/
.home {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5%;
}
.home .txt-home {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.home .txt-home h1 {
  font-size: 40px;
  margin: 0;
}
.home .img-home {
  max-width: 50%;
}
.home .img-home img {
  width: 100%;
}
.home p {
  font-weight: 400;
  margin: 40px 0;
}
.home button {
  width: 300px;
  height: 50px;
  border-radius: 50px;
  border: none;
  font-weight: 600;
  background-color: #fd53be;
  color: white;
  cursor: pointer;
}
.home button:active {
  opacity: 0.7;
}
@media screen and (max-width: 700px) {
  .home {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 50px 0;
  }
  .home .txt-home {
    width: 90%;
    align-items: center;
    margin: 0;
    height: 100%;
  }
  .home .txt-home h1 {
    font-size: 30px;
  }
  .home .txt-home p {
    font-size: 19px;
  }
  .home .img-home {
    max-width: 100%;
  }
  .home .img-home img {
    width: 80%;
  }
}
/*CARD SECTION */
.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
}
.item {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  gap: 10%;
  padding: 20px 0px;
  height: 55%;
  border-radius: 10px;
  box-shadow: -3px -2px 20px rgba(128, 128, 128, 0.219);
}
.item .item-txt {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
}
.item .item-txt h1 {
  margin: 0;
  font-size: 28px;
}
.item .item-txt p {
  color: rgb(80, 80, 80);
  max-width: 75%;
}
.item .item-img {
  width: 30%;
  height: 300px;
}
.item .item-img img {
  width: 100%;
  height: 100%;
}
.second {
  flex-direction: row-reverse;
}
/*CARDS RESPONSIVENESS*/
@media screen and (max-width: 700px) {
  .item {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    gap: 20px;
  }
  .item .item-img {
    width: 60%;
    height: 270px;
  }
  .item .item-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 80%;
  }
  .item .item-txt h1 {
    margin: 0;
    font-size: 24px;
  }
  .item .item-txt p {
    color: rgb(80, 80, 80);
    max-width: 100%;
    font-size: 15px;
  }
}
/*READY SECTION*/
.bot-cont {
  position: relative;
}
.ready-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  font-family: "Open Sans", sans-serif;
}
.ready {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 50%;
  height: 200px;
  border-radius: 10px;
  gap: 10px;
  position: absolute;
  z-index: 10;
}
.ready h1 {
  font-size: 28px;
}
.ready button {
  width: 300px;
  height: 50px;
  background-color: #fd53be;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.ready button:active {
  opacity: 0.7;
}
/*ready RESPONSIVENESS*/
@media screen and (max-width: 700px) {
  .ready-cont {
    margin-top: 200px;
  }
  .ready {
    width: 90%;
    text-align: center;
    height: 250px;
    box-shadow: -5px -5px 10px rgba(128, 128, 128, 0.281);
  }
  .ready h1 {
    font-size: 23px;
    color: rgb(51, 50, 50);
  }
  .ready button {
    width: 250px;
    height: 50px;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.281);
  }
}

/*FOOTER*/
footer {
  background-color: #00252f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  padding-right: 100px;
  color: white;
  gap: 30px;
  padding-top: 150px;
  font-family: "Open Sans", sans-serif;
}
footer .logo {
  filter: brightness(0) invert(1);
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon {
  width: 450px;
  display: flex;
  flex-direction: column;
}
.loc,
.tel,
.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.about p {
  cursor: pointer;
}
.about p:active {
  text-decoration: underline;
}
.career p {
  cursor: pointer;
}
.career p:active {
  text-decoration: underline;
}
.socials {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.socials img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  filter: brightness(0) invert(1) hue-rotate(140deg);
}
.copyright {
  display: flex;
  flex-direction: row-reverse;
}
/*RESPONSIVENESSS*/
@media screen and (max-width: 700px) {
  footer {
    padding-top: 200px;
  }
  footer .logo img {
    width: 200px;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .loc {
    width: 75%;
  }
  .socials {
    justify-content: center;
  }
}
